* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  /* background-color: aqua; */
  background-image: url("/bg_ball.png");
  /* background-repeat: no-repeat; */
  background-repeat: repeat-y;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --------------------------- */
#contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  min-height: 100vh;
  align-items: center;
  width: 80%;
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: rgba(127, 236, 255, 0.495);
}

.cardPokemon {
  /* height: 200px; */
  width: 200px;
  background-color: rgba(255, 255, 255, 0.543);
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.cardPokemon>div {
  height: 150px;
}

.cardPokemon>div>img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.cardPokemon>h1 {
  text-transform: capitalize;
}

.cardPokemon>h1,
.cardPokemon>p {
  margin: 0;
}