* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  /* background-color: aqua; */
  background-image: url("/bg_ball.png");
  /* background-repeat: no-repeat; */
  background-repeat: repeat-y;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------------------------- */
#navBar {
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 99, 99);
  /* border: 1px solid black; */
  border-bottom: 0;
}

/* --------------------------- */
#contenedor_prin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

#contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  min-height: 100vh;
  align-items: center;
  width: 100%;
  padding: 1% 0%;
  background-color: rgb(244, 244, 244);
  /* border: 1px solid black; */
}

.cardPokemon {
  width: 200px;
  height: 190px;
  width: 200px;
  background-color: rgb(224, 224, 224);
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardPokemon:hover {
  background-color: rgb(255, 255, 255);
}

.cardPokemon>div {
  height: 150px;
}

.cardPokemon>div>img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.cardPokemon>h1 {
  text-transform: capitalize;
  color: black;
  font-size: 28px;

}

.cardPokemon>h1,
.cardPokemon>p {
  margin: 0;
}

.cardFondo {
  text-decoration: none;
  width: 200px;
  height: 190px;
}


@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.pokeSpinner {
  animation: 3s rotate linear infinite;
  transform-origin: 50% 50%;
}